proprietary/vendor/lib64/mt6899/libaibc_tuning_p2.so filter=lfs diff=lfs merge=lfs -text
proprietary/vendor/lib64/mt6899/libaibc_tuning.so filter=lfs diff=lfs merge=lfs -text
radio/modem.img filter=lfs diff=lfs merge=lfs -text
