service vendor.mitee.tidaservice /odm/bin/tidad_mitee
    interface aidl vendor.xiaomi.hardware.aidl.tidaservice.ITidaService/default
    class hal
    user system
    group system
    disabled

on property:sys.boot_completed=1
    start vendor.mitee.tidaservice
